<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-main"></header>

<main role="main">
  <hr>

  <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>List of Favorites</strong></h4>
      <div class="card-body">

        <hr>

        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
<!--            <th scope="col">Favorite Id</th>-->
            <th scope="col">Recipe Name</th>
            <!--<th scope="col">Recipe Id</th>-->
            <th scope="col">Category</th>
<!--            <th scope="col">User</th>-->
            <th scope="col">Comments</th>
            <th scope="col">Details</th>
            <th scope="col">Operations</th>
          </tr>
          </thead>
          <tbody>

          <tr th:each="tmpFavorite : ${favorites}">
            <!--<th scope="row" th:text="${tmpCat.categoryId}"></th>-->
            <!--<td th:text="${tmpFavorite.favoriteId}"></td>-->
            <td th:text="${tmpFavorite.recipe.name}"></td>
            <td th:text="${tmpFavorite.recipe.category.name}"></td>
            <!--<td th:text="${tmpFavorite.recipe.recipeId}"></td>-->
<!--            <td th:text="${tmpFavorite.userVegan.firstName}"></td>-->
            <td th:text="${tmpFavorite.comments}"></td>
            <td>
              <p>
                <a class="btn btn-secondary"
                   th:href="@{/favorites/view/{idTemp} (idTemp = ${tmpFavorite.recipe.recipeId}) }"
                   role="button">Details &raquo;</a>
              </p>
            </td>
            <td>


              <a th:href="@{/favorites/delete/{id} (id=${tmpFavorite.favoriteId})}"
                 onclick="return confirm('Delete favorite?')"
                 class="btn btn-success btn-sm" role="button" title="Delete">
                <i class="fas fa-trash" aria-hidden="true"></i></a>
              </a>

<!--                           <a th:href="@{/categories/edit/{id} (id=${tmpCat.categoryId}) }"
                               class="btn btn-success btn-sm" role="button"
                               title="Edit"><i class="fas fa-pencil-alt"
                                               aria-hidden="true"></i></a>

                            <a th:href="@{/categories/delete/{id} (id=${tmpCat.categoryId}) }"
                               onclick="return confirm('Are you sure?')"
                               class="btn btn-success btn-sm" role="button" title="Delete">
                              <i class="fas fa-trash" aria-hidden="true"></i></a>-->



            </td>

            </td>
          </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>