<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-main">
</header>

<main role="main">
  <hr>
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h3>Find a vegan recipe.</h3>
      <p>You can search by ingredient and category</p>

      <form class="form-inline"
            th:action="@{/search}" method="get"
            th:object="${search}">
        <input type="text" class="form-control mb-3"
               th:field="*{ingredients}"
               id="exampleFormControlInput1"
               placeholder="Enter a Search">&nbsp;
        <select th:field="*{category.categoryId}" class="custom-select custom-select mb-3">
          <option th:value="*{null}" selected>Select a Category</option>
          <option th:each="catTmp : ${categories}"
                  th:value="${catTmp.categoryId}"
                  th:text="${catTmp.name}">
          </option>

        </select>&nbsp;
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>Category details</strong></h4>
      <div class="card-body">

        <form th:action="@{/categories/save}" method="post"
          th:object="${category}">

          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p>Please correct the following errors: </p>
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}" ></li>
            </ul>

          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="hidden" th:field="*{categoryId}"></input>
                <input type="text" class="form-control" th:field="*{name}"
                       id="name" name="name"
                       placeholder="Enter the category name" required="required">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" th:field="*{description}"
                          name="description" id="description" rows="2"></textarea>
              </div>
            </div>
          </div>
          <hr>
          <button type="submit" title="Save the category" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer">
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
