<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
</head>

<body>

<header th:insert="fragments/menu :: menu-main">

</header>

<main role="main">
  <hr>
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>Recipe Details</strong></h4>
      <div class="card-body">


      <!--  In the <form> tag here and using Thymeleaf expressions, we dynamically configure
       the URL where the Form will be redirected and the "action" the Form will perform.
       Dynamic URL and action ::   th:action="@{/recipes/save}" method "post"

        Using Thymeleaf expressions, we specify the URL to which the Form is to be redirected.
        In this case the URL will be "/recipes/save".
        The full Thymeleaf expression is th:action="@{/recipes/save}"
        The Form is going to be sent in an HTTP that answers to a request of type "post". In this case
        the method save() in the Controller will receive this request by mapping the dynamic URL to
        Controller method save() -->

        <form th:action="@{/recipes/save}" method="post"
          th:object="${recipe}" enctype="multipart/form-data">

          <!--handles errors at running time-->
          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p>Please correct the following errors: </p>
            <ul>
              <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
          </div>

          <!-- When using this Form Template to 'Edit a Recipe',
            the Thymeleaf expression :: th:field = *{fieldName} is used to automatically filled-in
            the Inputs with the data that was already in the edited Recipe
             without having to re-type it -->

          <!-- When using this Form template to 'Edit a Recipe', the fields
           {recipeId} and {imageMeal} must be hidden fields. This is to avoid
            to INSERT a duplicate or empty default values on the Database -->

         <!-- When using this Form Template to 'Create New Recipe', the Input fields
            name = "fieldName" must match the fieldNames from the Recipe Model (name, ingredients
            ,instructions, prepTime, cookingTime or imageMeal) -->

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="name">Name</label>
                <input type="hidden" th:field="*{recipeId}">
                <input type="hidden" th:field="*{imageMeal}">

        <!-- Here, the field name = "name", matches the Model Recipe field "name" -->
                <input type="text" class="form-control " th:field="*{name}"
                       id="name" name="name"
                       placeholder="Recipe name" required="required">
              </div>
            </div>

            <div class="col-md-9 " >
              <div class="form-group ">
                <label for="ingredients">Ingredients</label>

        <!-- Here, the field name = "ingredients", matches the Model Recipe field "ingredients" -->
                <input type="text" class="form-control" th:field="*{ingredients}"
                       id="ingredients" name="ingredients"
                       placeholder="Recipe ingredients" required="required">
              </div>
            </div>
          </div>

          <div class="row">

            <!-- In the drop-down menu to select Category for a Recipe, the drop-down menu introduces
               the Categories dynamically using the Thymeleaf expression th:each,
               and it, Categories are displayed by name, but are selected using the categoryId -->

            <div class="col-md-3">
              <div class="form-group">
                <label for="category">Category</label>
                <!-- Here, the field name = "category", matches the Model Recipe field "category" -->
                <select class="form-control" name="category" th:field="*{category.categoryId}"
                        id="category">
                  <option th:each="catTmp: ${categories}" th:value="${catTmp.categoryId}"
                    th:text="${catTmp.name}">
                </select>

              </div>
            </div>
            <!-- Here, the field name = "status", matches the Model Recipe field "status" -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="status">Status</label>

                <select class="form-control" name="status" th:field="*{status}"
                        id="status">
                  <option value='Premium'>Premium</option>
                  <option value='Normal'>Not Premium</option>
                 </select>
              </div>
            </div>
            <!-- Here, the field name = "date", matches the Model Recipe field "date" -->
            <div class="col-md-3">
              <div class="form-group">
                <label for="date">Publication Date</label>
                status
                <input type="text" class="form-control" name="date" th:field="*{date}"
                       id="date"
                       placeholder="Publication date" required="required">
              </div>
            </div>


            <!-- Here, the field name = "featured", matches the Model Recipe field "featured" -->
            <div class="col-md-3">
              <div class="form-check">
                <label class="form-check-label" for="featured0"></label><br>
                <input class="form-check-input" type="radio" th:field="*{featured}" name="featured"
                       id="featured" value="1" >
                <label class="form-check-label" for="featured1">Featured</label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" th:field="*{featured}" name="featured"
                       id="featured" value="0">
                <label class="form-check-label" for="featured2">Not Featured</label>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <!-- Here, the field name = "prepTime", matches the Model Recipe field "prepTime" -->
                <label for="prepTime">Preparation time (Approx)</label>
                <input type="text" class="form-control" name="prepTime" th:field="*{prepTime}"
                       id="prepTime"
                       placeholder="Preparation time (Approx)" required="required">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <!-- Here, the field name = "cookingTime", matches the Model Recipe field "cookingTime" -->
                <label for="cookingTime">Cooking time (Approx)</label>
                <input type="text" class="form-control" name="cookingTime" th:field="*{cookingTime}"
                       id="cookingTime"
                       placeholder="Cooking time (Approx)" required="required">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="fileImage">Image</label>
                <input type="file" class="form-control-file" name="fileImage" id="fileImage">
              </div>
            </div>
          </div>
          <hr>

          <!-- The Instructions text box uses the 'tinymce' plugins and 'tinymce' jQueries.
               This allows to use the Instructions text box as a text editor format the
                Recipe Instructions with bold, italics, underline, numbering, colors, etc.
                'tinymce' also has the option to show the HTML code used during the text formatting -->


          <!-- The uploading of images use MultipartFile configuration in the application.properties file,
           in the RecipesController and in the WebConfig class-->

          <div class="row">
            <div class="col-md-9">
              <div class="form-group">
                <label for="instructions"><strong>Instructions</strong></label>
                <textarea class="form-control" name="instructions"  th:field="*{instructions}"
                          id="instructions"
                          rows="7"></textarea>
              </div>
            </div>
            <div class="col-md-3">
              <label for="image">Image meal</label>
              <img class="rounded mx-auto d-block"
                   th:src="@{/logos/{img} (img=${recipe.imageMeal}) }"
                   alt="Generic placeholder image" width="200" height="200">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer">

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script>

    $(function () {
            $("#date").datepicker({dateFormat: 'dd-mm-yy'});
        }
    );

    tinymce.init({
        selector: '#instructions',
        plugins: "textcolor, table lists code",
        toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                  | bullist numlist outdent indent | forecolor backcolor table code"
    });


</script>
</body>
</html>