<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-main">
</header>

<main role="main">
      <div class="jumbotron" >
      <div class="container">
        <h4>Recipe Search</h4>
        <h6>By Name or Category</h6>

        <form class="form-inline"
              th:action="@{/recipes/search}" method="get"
              th:object="${search}">

          <input type="text" class="form-control mb-3"
                 th:field="*{name}"
                 placeholder="Recipe Name"> &nbsp;

          <select th:field="*{category.categoryId}" class="custom-select mb-3" >
            <option th:value="*{null}" selected>Select a Category</option>
            <option th:each="tmpCat : ${categories}"
              th:value="${tmpCat.categoryId}"
              th:text="${tmpCat.name}"></option>
<!--            <option value="2">Lunch</option>
            <option value="3">Dinner</option>
            <option value="4">Snacks</option>
            <option value="5">Dessert</option>
            <option value="6">Christmas Dinner</option>
            <option value="7">Smoothies</option>
            <option value="8">Soups</option>-->

          </select> &nbsp;
          <button type="submit" class="btn btn-primary mb-3">Search</button>
        </form>
      </div>
      </div>

  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>List of Recipes</strong></h4>
      <div class="card-body">
        <a class="btn btn-primary" th:href="@{/recipes/create}"
           title="Create a new Recipe" role="button">
            <i class="fas fa-file" aria-hidden="true"></i> New</a>
        &nbsp;
        <hr>

        <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
        <table class="table table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">Recipe Id</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Published</th>
            <th scope="col">Status</th>
            <th scope="col">Featured</th>
            <th scope="col">Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="tmpRecipe : ${recipesPage}">

            <td th:text="${tmpRecipe.recipeId}"></td>
            <td th:text="${tmpRecipe.category.name}"></td>
            <td th:text="${tmpRecipe.name}"></td>
          <!--  <td th:text="${tmpRecipe.date}"></td>-->
            <td>
              <span th:text="${#dates.format(tmpRecipe.date, 'dd-MM-yyyy')}"></span>
            </td>

            <td th:text="${tmpRecipe.status}"></td>
            <td th:text="${tmpRecipe.featured==1 ? 'YES' : 'NO' }"></td>
            <td>
              <a th:href="@{/recipes/edit/{id} (id=${tmpRecipe.recipeId})}"
                 class="btn btn-success btn-sm" role="button"
                 title="Edit recipe"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>

              <a th:href="@{/recipes/delete/{id} (id=${tmpRecipe.recipeId})}"
                  onclick="return confirm('Are you sure?')"
                 class="btn btn-success btn-sm" role="button" title="Delete recipe">
                <i class="fas fa-trash" aria-hidden="true"></i></a>
            </td>
          </tr>
          </tbody>
        </table>


        <nav th:if="${recipesPage.totalPages > 0}" aria-label="Page navigation example" >
          <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${recipesPage.number == 0 ? 'disabled' : ''}">
              <a th:href="@{/recipes/indexPaginate(page=${recipesPage.number - 1})}" class="page-link">Previous</a>
            </li>

            <li class="page-item" th:classappend="${i eq recipesPage.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, recipesPage.totalPages, 1)}">
              <a class="page-link" th:href="@{/recipes/indexPaginate?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${recipesPage.number == (recipesPage.totalPages - 1) ? 'disabled' : ''}">
              <a th:href="@{/recipes/indexPaginate(page=${recipesPage.number + 1})}" class="page-link">Next</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>