<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

</head>

<body>

<header th:insert="fragments/menu :: menu-main">
</header>

<main role="main">
  <hr>
  <div class="container">

    <div class="row">
      <div class="col-md-3">
        <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${recipe.imageMeal}) }"
             alt="Generic placeholder image" width="180" height="160">
      </div>

      <div class="col-md-9">
        <div class="card">
          <h4 class="card-header">Recipe <strong th:text="${recipe.name}"></strong></h4>
          <div class="card-body">
            <h5 class="card-title"><strong>Category: </strong> <span th:text="${recipe.category.name}"></span></h5>
            <h6 class="card-title"><strong>Published: </strong>
<!--              <span th:text="${recipe.date}"></span>-->
              <span th:text="${#dates.format(recipe.date, 'dd-MM-yyyy')}"></span>

            </h6>
            <h6 class="card-title"><strong>Preparation time: </strong><span th:text="${recipe.prepTime}"></span></h6>
            <h6 class="card-title"><strong>Cooking time: </strong><span th:text="${recipe.cookingTime}"></span></h6>
            <h5 class="card-title"><strong>Ingredients: </strong><span th:text="${recipe.ingredients}"></span></h5>

            <div class="card bg-light mb-3" >
              <div class="card-body">
                <h5 class="card-title">Instructions</h5>
                <p class="card-text" th:utext="${recipe.instructions}"></p>
              </div>
            </div>
            <a sec:authorize="isAuthenticated()"
               class="btn btn-primary" th:href="@{/profile/userFavorites/{id} (id=${recipe.recipeId}) }"
                role="button" title="Add to Favorites">
              <i class="fas fa-file" aria-hidden="true"></i>Add to Favorites</a>
          </div>
        </div>

      </div>

    </div>

  </div>
</main>

<footer th:insert="fragments/footer :: page-footer" class="footer">

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
