<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" >
  <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
</head>

<body>

<header th:insert="fragments/menu :: menu-main">
</header>

<main role="main">
  <hr>
<!--  <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>-->
  <div class="container">

    <div class="card">
      <h4 class="card-header"><strong>Your profile Form</strong></h4>
      <div class="card-body">
        <form th:action="@{/update}" method="post"
              th:object="${userVegan}" >

<!--          <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger" role="alert">
            <p>Please correct the following errors: </p>
            <ul>
             &lt;!&ndash; <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>&ndash;&gt;
            </ul>
          </div>-->

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="hidden" th:field="*{userId}">
             <!--   <input type="hidden" th:field="*{password}">-->
                <input type="hidden" th:field="*{profiles}">
                <input type="hidden" th:field="*{status}">
<!--                <input type="hidden" th:field="*{registrationDate}">-->
                <input type="text" class="form-control" th:field="*{firstName}"
                       id="firstName" name="firstName"
                       placeholder="Update user First Name"
                       required="required">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}"
                       id="lastName" name="lastName"
                       placeholder="Update user Last Name"
                       required="required">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" th:field="*{email}"
                       id="email" name="email"
                       placeholder="Update user email"
                       required="required">
              </div>
            </div>

            <div class="col-md-3">
              <div class="form-group">
                <label for="pwd">Pwd</label>
                <input type="text" class="form-control" th:field="*{password}"
                       id="pwd" name="pwd"
                       placeholder="Update user email"
                       required="required">
              </div>
            </div>
          </div>


            <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" th:field="*{username}"
                       id="username" name="username"
                       placeholder="Update username" required="required">
              </div>
            </div>

          </div>

          <hr>
          <button type="submit" title="Register to Vegan website"
                  class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/tinymce/tinymce.min.js}"></script>
<script>

    $(function () {
            $("#registrationDate").datepicker({dateFormat: 'dd-mm-yy'});
        }
    );

    tinymce.init({
        selector: '#instructions',
        plugins: "textcolor, table lists code",
        toolbar: " undo redo | bold italic | alignleft aligncenter alignright alignjustify \n\
                  | bullist numlist outdent indent | forecolor backcolor table code"
    });


</script>

</body>
</html>