<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">

  <title>VeganApp | Plant-based Recipes</title>
  <!-- Bootstrap core CSS -->
  <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet">
  <link th:href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

</head>

<body>

<header th:insert="fragments/menu :: menu-main">
</header>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h3>Find a vegan recipe.</h3>
      <p>You can search by ingredient and category</p>

      <form class="form-inline"
            th:action="@{/search}" method="get"
            th:object="${search}">
        <input type="text" class="form-control mb-3"
               th:field="*{ingredients}"
               id="exampleFormControlInput1"
               placeholder="Enter a Search">&nbsp;
        <select th:field="*{category.categoryId}" class="custom-select custom-select mb-3">
          <option th:value="*{null}" selected>Select a Category</option>
          <option th:each="catTmp : ${categories}"
                  th:value="${catTmp.categoryId}"
                  th:text="${catTmp.name}">
          </option>

        </select>&nbsp;
        <button type="submit" class="btn btn-primary mb-3">Search</button>
      </form>
    </div>
  </div>
  <hr>

  <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
  <div class="container">
    <!--<h3 class="font-weight-bold text-center text-capitalize">FEATURED</h3>-->
    <h3 class="font-weight-bold text-center text-capitalize">VEGAN RECIPES</h3>
    <hr>

    <div class="row" th:each="tmpRecipe : ${recipes}">
      <hr>

      <div class="col-md-3">
        <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${tmpRecipe.imageMeal}) }"
             alt="Generic placeholder image" width="220" height="200">
      </div>
      <div class="col-md-9">
        <h3 th:text="${tmpRecipe.name}"></h3>
        <h5 class="card-title"><strong>Category: </strong> <span th:text="${tmpRecipe.category.name}"></span></h5>
        <h6>
          <strong>Ingredients: </strong> <span th:text="${tmpRecipe.ingredients}"></span>
        </h6>

        <h5 class="card-title"><strong>Publication date: </strong>
            <!--<span th:text="${tmpRecipe.date}"></span>-->
          <span th:text="${#dates.format(tmpRecipe.date, 'dd-MM-yyyy')}"></span>
        </h5>

       <!-- <h6 class="card-title"><strong>Ingredients: </strong>
          <span th:text="${tmpRecipe.ingredients}"></span></h6>-->

<!--        <h5 class="text-success" th:text="${tmpRecipe.ingredients}"></h5>-->
        <p>
          <a class="btn btn-secondary"
              th:href="@{/recipes/view/{idTemp} (idTemp = ${tmpRecipe.recipeId}) }"
              role="button">Details &raquo;</a>
        </p>

        <hr> <br>
      </div>

    </div>
    <br>
    <hr>
  </div> <!-- /container -->

</main>

<footer th:insert="fragments/footer :: page-footer" class="footer">
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
